@model WebPlusLogicWithAPIApps_DevApps.Models.OrderViewModels

@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>


@using (Html.BeginForm("Create", "Order", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>OrderViewModels</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <img src="~/img/rose.png" />
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RecipientName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RecipientName)
                @Html.ValidationMessageFor(model => model.RecipientName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryStreet, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryStreet)
                @Html.ValidationMessageFor(model => model.DeliveryStreet)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryCity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryCity)
                @Html.ValidationMessageFor(model => model.DeliveryCity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryState, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryState)
                @Html.ValidationMessageFor(model => model.DeliveryState)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryPostalCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryPostalCode)
                @Html.ValidationMessageFor(model => model.DeliveryPostalCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
